* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
body {
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
/* ---------------- Authentication Page ------------------------------------------------------------------- */
.authentication {
    position: absolute;
    background: url(https://thumbs.gfycat.com/AcrobaticResponsibleAsianelephant-size_restricted.gif) no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    width: 100%;
}
.center {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-49%, -50%);
}
.head {
    width: 100%;
    height: 15vh;
    background: rgb(56, 94, 197);
    border-radius: 7px 7px 0px 0px;
    padding: 15px;
    border-bottom: 3px solid #fff;
}
.profile .fa{
    position: relative;
    border-radius: 50%;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 80px;
    color: #fff;
}
.head span {
    font-size: 25px;
    color: #fff;
}
.head::first-letter {
    font-family: fantasy;
    margin-right: 5px;
    font-size: 40px;
}
form{
    width: 100%;
    padding: 0px 15px;
    box-shadow: 0px 0px 10px rgb(34, 97, 179);
}
.text{
    margin: 20px 0;
} 
input{
    width: 100%;
    box-sizing: border-box;
    padding: 14px 10px 14px 38px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
}
input:hover,
button:hover{
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 3px dodgerblue;
}
.input i{
    position: relative;
    font-size: 20px;
    top: 33px;
    left:10px;
    color: #ccc;
    width: 20px;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.twoInput {
    display: flex;
    justify-content: space-between;
}
#fName, 
#lName{
    width: 49.5%;
}
.register .input{
    margin-bottom: 20px;
}
.register input{
    padding: 15px;
}
.register form {
    padding-top: 20px;
}

button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    margin: 0px 0 20px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

.redBtn:hover{
    border: 1px solid red;
    box-shadow: 0px 0px 3px dodgerblue;
}
/* ----- Verify Register --------------------------- */
.verifyRegister{
    width: 400px;
    background: #fff;
}
.verifyRegister h1{
    padding: 15px;
    background: #29d11a;
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.bodyVerify{
    text-align: center;
    margin: 20px auto;
}
.bodyVerify p{
    margin: 20px;
}
.bodyVerify .fa{
    font-size: 50px;
    color: #29d11a;
    border: 1px solid #29d11a;
    border-radius: 50%;
    padding: 5px;
}
.verifyBtn button{
    float: right;
    margin: 20px;
    color: #29d11a;
}
.verifyBtn{
    border-top: 1px solid #29d11a;
}

/* =============================USER PAGE=============================== */


.userPage {
    display: grid;
    grid-template-columns:25% 50% 25%;
    max-height: 100vh;
    color: black;
}
/* -----------left side --------------------------------------------------- */
.leftSide,
.rightSide,
.sms{
    background: rgba(128, 128, 128, 0.103);
}
.leftSide ul li {
    padding: 15px;
    background: rgba(214, 211, 211, 0.795);
    box-shadow: 0px 0px 1px 1px gray;
    margin: 20px;
    list-style: none;
    border-left: 5px solid #fff;
    border-radius: 4px;
    font-size: 20px;
}
li .fa {
    font-size: 25px;
    margin-right: 5px;
}

ul {
    overflow: scroll;
    overflow-x: hidden;
   height: 80vh;
    list-style: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

.search{
    text-align: center;
    margin: 10px;
    
}
.search input {
    width: 75%;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.767);
}
.chat_search h1 {
    padding: 30px 30px 10px 30px;
    text-align: center;
    font-size: 22px;
}
.chat_search,
.middle h3 {
    position: sticky;
    top: 0px;
    z-index: 9999;
}

.chat_search,
.middle {
    border-right: 1px solid #fff;
}
.chat_search,
.headerProfile{
    height: 20%;
    border-bottom: 1px solid gray;
}
.leftSide ul li{
    display: flex;
    justify-content: space-between;
}
.add{

    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------Middle Side --------------------------------------- */
.middle{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    position: relative;
}
.middleHead {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid gray;
}
.headRight .fa,
.partner{
    font-size: 22px;
    padding: 0 5px;
}

/* ----------------message block ---------------*/
.messagesContainer{
    padding: 0 15px;
}
.messagesContainer li{
    display: flex;
    margin: 8px 0;
}
.profileUser{
    width: 7%;
}
.receiver .messageText{
    background: #f4d9c6;
    border-radius: 0 5px 5px 5px;
    text-align: left;
}
.sender .messageText{
    background: #a3d8f4;
    border-radius: 5px 0 5px 5px;
    text-align: left;
}
.messageText{
    max-width: 82%;
    padding: 2%;

}

.sender{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
/* ---------------------------------------------- */

.option,
.send{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sms {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 12vh;
    border-top: 1px solid gray;
    position: relative;
}
#sms {
    width: 85%;
    height: 60%;
    padding: 10px;
    border: 1px solid gray;
}
.sms .styles,
.send{
    font-size: 30px;
}
.sms .styles {
    position: relative;
    z-index: 999;
}


.styles div {
    display: flex;
    margin: -170px 0px 0px -7px;
    position: absolute;
    flex-direction: column;
   
}
.styles button {
    margin: 0px 0px 5px 0px;
    width: 40px;
}

/* ----------- Right Side ------------------------------ */
.rightSide .headerProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-size: 60px;
    flex-direction: column;
}
.headerProfile h1 {
    padding: 5px 0px;
}
.darkMode{
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.darkMode input{
    width: 30%;
    height: 20px;
}
.darkMode input:hover{
    box-shadow: none;
}
.fa,
.userPage h1,
.middle h3,
.item,
.add {
    cursor: pointer;
}
.MenuList {
    margin: 15px auto;
}
.item {
    background: rgba(214, 211, 211, 0.795);
    box-shadow: 0px 0px 1px 1px gray;
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 20px;
}
.item .fa {
    font-size: 30px;
}
.item p{
    margin-left: 10px;
    font-size: 20px;
}

.fa-phone,
.fa-video-camera{
    color: rgb(35, 211, 35);
}
.fa-signal {
    color: #185adb;
}
.fa-share-alt {
    color: #29bb89;
}
.fa-shield {
    color: #e1701a;
}
.fa-gears {
    color: #ffb037;
}
.fa-sign-out {
    color: #ff005c;
}
.fa-phone:hover, .fa-video-camera:hover {
    color: rgb(34, 190, 34);
}

