* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.authentication {
    position: absolute;
    background: url(https://thumbs.gfycat.com/AcrobaticResponsibleAsianelephant-size_restricted.gif) no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    width: 100%;
}
.center {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-49%, -50%);
}
.head {
    width: 100%;
    height: 15vh;
    background: rgb(56, 94, 197);
    border-radius: 7px 7px 0px 0px;
    padding: 15px;
    border-bottom: 3px solid #fff;
}
.profile .fa{
    position: relative;
    border-radius: 50%;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 80px;
    color: #fff;
}
.head span {
    font-size: 25px;
    color: #fff;
}
.head::first-letter {
    font-family: fantasy;
    margin-right: 5px;
    font-size: 40px;
}
form{
    width: 100%;
    padding: 0px 15px;
    box-shadow: 0px 0px 10px rgb(34, 97, 179);
}
.text{
    margin: 20px 0;
} 
input{
    width: 100%;
    box-sizing: border-box;
    padding: 14px 10px 14px 38px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
}
input:hover,
button:hover{
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 3px dodgerblue;
}
.input i{
    position: relative;
    font-size: 20px;
    top: 33px;
    left:10px;
    color: #ccc;
    width: 20px;
    border-right: 1px solid #ccc;
    padding-right: 5px;
}

.twoInput {
    display: flex;
    justify-content: space-between;
}
#fName, 
#lName{
    width: 49.5%;
}
.register .input{
    margin-bottom: 20px;
}
.register input{
    padding: 15px;
}
.register form {
    padding-top: 20px;
}

button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    margin: 0px 0 20px 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

.redBtn:hover{
    border: 1px solid red;
    box-shadow: 0px 0px 3px dodgerblue;
}




/* ======================================================== */
.userPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.192);
    overflow: hidden;
}
.contact{
    width: 35%;
    border-right: 1px solid;
}
.userProfile{
    display: flex;
    justify-content: space-between;
    background: yellow;
    padding: 20px;
    position: relative;
}

.userHeader,
.heading {
    position: sticky;
    top: 0;
    z-index: 1;
}
.userProfile i{
    font-size: 70px;
}
.userProfile span{
    font-size: 30px;
}
.darkMode {
    position: absolute;
    right: 20px;
    bottom: 25px;
}
#checkbox{
    width: 15px;
    height:15px;
}
.search {
    text-align: center;
}
.search input {
    border: 2px solid;
    margin: 5px 0px;
    width: 70%;
    padding: 10px;
}

.userContainer{
    height: 50%;
}
.userContainer, 
.messageContainer{
    background: gray;
}


.contact,
.conversation{
    height: 100%;
    background: rgba(128, 128, 128, 0.637);
}
.conversation{
    width: 64%;
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.heading{
    /* padding: 15px; */
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    position: sticky;
    top: 0px;
}
.messageContainer{
    width: 100%;
    height: 80%;
    background: gray;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.messageContainer li{
    width: 100%;
}


.sendPlace{
    width: 100%;
    height: 10%;
    /* padding: 0px 20px; */
    background: red;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
textarea{
    width: 80%;
    height: 100%;
    vertical-align: middle;
    resize: none;
    border-radius: 15px;
    /* border: 2px solid blue; */
    outline: none;
}
